@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        font-family: 'Inter', sans-serif;
        line-height: 1.3;
    }

    table {}

    th,
    td {
        @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
    }

    thead {
        @apply bg-neutral-100;
    }

    th {
        @apply font-semibold;
    }

    a {
        @apply text-sky-500 hover:underline;
    }
}


.bg-img {
    background-image: url('./assets/bg-image.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    background-blend-mode: overlay;
    background-color: rgba(0,
            0,
            0,
            0.4);
}